body{
font-size: 14px;
font-family: Arial, sans-serif;

}


.g-main-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.g-as-all-search{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}
.g-as-div{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;

}

.g-as-label{
    margin-left:10px
}


.jYcx0e{   
    float: left;
    /* display: inline-block; */
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.PLLUQc{
    padding-right: 16px;
}

.otByu{
    width: 100%;
    clear: both;
}

.jfk-textinput{    
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.lOTAE{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.FAcADc{
    float: left;
    /* display: inline-block; */
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

.cwqNnb{
    float: left;
    /* display: inline-block; */
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}
.gy3Eif{
    border-bottom: 1px solid #ebebeb;
}

.yIQOUb{
    clear:both;
}

.g-page{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.ul-nav{
    list-style-type: none;
    
}

.ul-nav li{
    float:right ;
    padding: 5px;
}

.g-search{
    background: #fff;
    border: 1px solid #dadce0;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
    border-radius: 26px;
    margin: 0 auto;
    width: 449px;
    height: 45px;

}

.g-button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 8px;
    color: #3c4043;
    font-family: Google Sans, Arial, sans-serif;
    font-optical-sizing: none;
    font-size: 14px;
    font-weight: 400;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.g-button:hover{
    border-color : lightslategrey;
}
.g-div-buttons{
    padding: 18px;
}